.container {
    width: 390px;  
    height: 100vh;
}
.header {
    width: 390px;
    height: 60px;
}
.oglavlenie {
    margin: 20px 0 0 40px;
}
.circle {
    margin: 0 12px;
}
.header_logo {
    margin: 20px 250px 0 250px;
    text-align: center;
}
.group {
    margin: 20px 20px 0 0;
}
.group2 {
    margin: 0 20px 0 20px;
}
.brand {
    font-size: 50px;
    margin: 70px 0 0 40px;
    background-position: top 65px left 0;
}
.shopping {
    font-size: 18px;
}
.main_img {
    margin-left: 40px;
}
.nike_img {
    display: none;
}
.nike_txt {
    display: none;
}
.pink_tshirt {
    width: 520px;
    height: 740px;
}
.block3 {
    position: absolute;
}
.glasses {
    margin: 450px 0 0 160px;
}
.glasses_txt {
    margin: 15px 0 0 140px;
}
.glasses_ul {
    line-height: 23.8px;
    margin: 10px 0 10px 140px
}
.a{
    margin-left: 140px;
}
.new_collection_txt {
    margin: 70px 0 0 350px;
}
.block_main2 {
    display: grid;
}
.col1 {
    margin-left: 100px;
}
.pic1_txt {
    font-family: DM Sans-Regular;
    font-size: 32px;
    margin: 68px 0 0 40px;
}
.col2 {
    display: none;
}